@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: kalameh;
    src: url('../assets/fonts/kalameh/KalamehWeb-Regular.woff') format('woff');
}

body {
    font-family: kalameh;
    direction: rtl;
    text-align: right;
}